.lista{
    list-style: none;
    padding: 0px;
    color: white;
}

.boton{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
}
.jumbotron{
    background-color: black;
    padding: 5px;

}
.img{
    object-fit: cover;
}