.footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}

/* PAGINA DE CONTACTOS */

.jumbotron {
    background-color: #D7443F;
}
.location-map {
    background-color: #f1ece9;
}
.contact-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
.div-form-control{
    width: 100%;
}
.form-control {
    width: 100%;
}
.form-control:focus {
    border-color: 	rgba(215, 68, 63, .5);
    box-shadow: 0 0 0 0.2rem 	rgba(215, 68, 63, .5);
}
.button-color{
    background-color: #D7443F;
}
/* Formulario  */

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    background: #e5e5e5;
    box-sizing: border-box;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
}

.formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario-input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario-input-error-activo {
    display: block;
}

.formulario-validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox {
    margin-right: 10px;
}

.formulario-grupo-terminos,
.formulario-mensaje,
.formulario-grupo-btn-enviar {
    grid-column: span 2;
}

.formulario-mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0;
}

.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
}

.formulario-btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario-mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario-mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-grupo-correcto .formulario-validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-label {
    color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-input {
    border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario-grupo-terminos,
    .formulario-mensaje,
    .formulario-grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario-btn {
        width: 100%;
    }
}

/** Index **/
.img-destacado{
	height: 400px;
	object-fit: cover;	
}
.img-destacados{
	height: 120px;
	object-fit: cover;
}
.img-novedades{
    height: 50px;
    object-fit: cover;
}
.img-deportes{
	height: 250px;
	object-fit: cover;
}
.panel-novedades{
    background-color: #555353;
    border-radius: 3px;
}
.card-novedades:hover{
    background-color: #4d4d4d;
    border-radius: 5px;
}
.card-deportes{
    animation-name: card-1;
    animation-duration: 2s;
}

@media screen and (max-width: 576px) {
	.container-fila-precios{
		display: flex;
		justify-content: start;
	}
	.fila-precios1{
		width: 20%;
	}
	.fila-precios2{
		width: 60%;
	}

}

.carousel__contenedor {
	position: relative;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}
.card-recomendados:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
.td-btn{
    align-items: center;
}

/** Admin **/
.img-recomendados{
    height: 200px;
}
.img-recomendados:hover{
    filter:grayscale(20);
}
@media screen and (max-width: 1399px) {
    .td-btn{
        margin: 2px;
    }
}
@media screen and (max-width: 1399px){
    .td-acciones{
        text-align: center;
    }
    .td-btn{
        width: 70%;
    }
}


/*Pia*/
.lista{
    list-style: none;
    padding: 0px;
    color: white;
}

.boton-error404{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    
    
}
.jumbotron{
    background-color: black;
    padding: 5px;

}
.img-error404{
    object-fit: cover;
    
}

/* página detalles */

.img-juego{
    width: 100%;
    height: 98vh;
    opacity: 0.7;
}
.contenedor{
    width: 90%;
    margin: auto;
}


/*contenedor titulo y controles*/
.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contenedor-titulo-controles h3 {
    color: white;
    font-size: 30px;
}
.contenedor-titulo-controles .indicadores button{
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
    background-color: red;
}
/*contenedor principal y flechas*/

.juegos-recomendados-contenedor{
    margin-bottom: 70px;
}
.juegos-recomendados .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}
.juegos-recomendados .contenedor-principal .flecha-derecha,
.juegos-recomendados .contenedor-principal .flecha-izquierda{
    position: absolute;
    border: none;
    background-color: rgba(0,0,0,0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%0);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;

}
.juegos-recomendados .contenedor-principal .flecha-izquierda {
    left: 0;
}
.juegos-recomendados .contenedor-principal .flecha-derecha {
    right: 0px;
}

.juegos-recomendados .contenedor-principal .flecha-derecha:hover,
.juegos-recomendados .contenedor-principal .flecha-izquierda:hover{
background: rgba(0, 0, 0,0.9);}
/*carousel*/
.juegos-recomendados .contenedor-carousel {
    width: 100%;
    padding: 20px, 0;
    overflow-x: hidden;
    scroll-behavior:smooth ;
    display: flex;
}
.juegos-recomendados .contenedor-carousel .carousel{
display: flex;
flex-wrap: nowrap;
}
.juegos-recomendados .contenedor-carousel .carousel .juego.hover{
    transform: scale(1.2);
    transform-origin: center;
}
.juegos-recomendados .contenedor-carousel .carousel .juego
{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px,5px, 10px rgba(0,0,0,0.3);}
    .juegos-recomendados .contenedor-carousel .carousel .juego img{
width: 100%;
vertical-align: top;
    }

  
    

/*media queries*/

@media all and (min-width:992px){
iframe{
    width: 700px;
    height: 350px;
}
.botones-detalles {
    position: relative;
    bottom: 100px;
    left: 100px;
    margin-left: 7px;
    
    
}
}
@media all and (min-width:767px) and (max-width:991px){
    iframe{
        width: 700px;
        height: 350px;
    }
    .botones-detalles {
        position: relative;
        bottom: 100px;
        left: 15px;
        margin-left: 15px;
    }
    .slider{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}


@media all and (min-width:320px) and (max-width:766px) {
   
    .botones-detalles {
        position: relative;
        bottom: 100px;
        left: 60px;
        margin-left: 0;
    }
    .img-juego{
        width: 100%;
        height: 50vh;
        opacity: 0.7;
    }
    .block{
        display: inline-block;
    }
    .slider{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    iframe{
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}






