/* PAGINA DE CONTACTOS */

.jumbotron {
    background-color: #D7443F;
}
.location-map {
    background-color: #f1ece9;
}
.contact-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
.div-form-control{
    width: 100%;
}
.form-control {
    width: 100%;
}
.form-control:focus {
    border-color: 	rgba(215, 68, 63, .5);
    box-shadow: 0 0 0 0.2rem 	rgba(215, 68, 63, .5);
}
.button-color{
    background-color: #D7443F;
}
/* Formulario  */

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
    background: #e5e5e5;
    box-sizing: border-box;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
}

.formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario-input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario-input-error-activo {
    display: block;
}

.formulario-validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario-checkbox {
    margin-right: 10px;
}

.formulario-grupo-terminos,
.formulario-mensaje,
.formulario-grupo-btn-enviar {
    grid-column: span 2;
}

.formulario-mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario-mensaje-activo {
    display: block;
}

.formulario-mensaje p {
    margin: 0;
}

.formulario-grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s ease all;
}

.formulario-btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario-mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario-mensaje-exito-activo {
    display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario-grupo-correcto .formulario-validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-label {
    color: #bb2929;
}

.formulario-grupo-incorrecto .formulario-validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario-grupo-incorrecto .formulario-input {
    border: 3px solid #bb2929;
}

/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario-grupo-terminos,
    .formulario-mensaje,
    .formulario-grupo-btn-enviar {
        grid-column: 1;
    }

    .formulario-btn {
        width: 100%;
    }
}

/** Index **/
.img-destacado{
	height: 400px;
	object-fit: cover;	
}
.img-destacados{
	height: 120px;
	object-fit: cover;
}
.img-deportes{
	height: 250px;
	object-fit: cover;
}

@media screen and (max-width: 576px) {
	.container-fila-precios{
		display: flex;
		justify-content: start;
	}
	.fila-precios1{
		width: 20%;
	}
	.fila-precios2{
		width: 60%;
	}

}
.carousel__contenedor {
	position: relative;
}


.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
